* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    text-align: center;
    background-color: #333;
    color: white;
}
ul {
    list-style: none;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
li {
    padding: 1em;
    background: #2E3F5E;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
li:hover {
    scale: 1.1;
    box-shadow: 2px 2px 2px black;
}

.output {
    transition: all 350ms ease-in-out;
}